datasets==2.19.0
huggingface_hub==0.22.2
kaggle==1.6.12
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
lightgbm==4.3.0
optuna==3.6.1
category_encoders==2.6.3
imbalanced-learn==0.12.2
matplotlib==3.8.4
seaborn==0.13.2
missingno==0.5.2
joblib==1.4.0
pyarrow==16.0.0
pyyaml==6.0.1
